<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="payrollApp">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <article ng-controller="payrollController">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>username</th>
                        <th>password</th>
                        <th>lastname</th>
                        <th>firstname</th>
                        <th>vote</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="users in account.user">
                        <td>{{users.user_id}}</td>
                        <td>{{users.username}}</td>
                        <td>{{users.password}}</td>
                        <td>{{users.profile.lastname}}</td>
                        <td>{{users.profile.firstname}}</td>
                        <td>

                            <div ng-click="upVote(users)">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </div>
                            <div class="badge badge-inverse">
                                {{users.vote}}
                            </div>
                            <div ng-click="downVote(users)">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            

            <section>
                <div ng-bind-html="snippet">title</div>
            </section>
      
        </article>

        

    </div>
    <script src="scripts/jquery-1.9.1.min.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-sanitize.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controller/payrollController.js"></script>
    <script src="app/services/payrollData.js"></script>

  
</body>
</html>
